/target/
/.idea/
project/target/*
project/project/target/*
.bloop/*
.metals/
.ammonite/
metals.sbt
*.class
project/project/project/target/*
project/.bloop/*
project/project/.bloop/*
project/project/project/project/target/*
build/*
